DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lgu_ojt_monitoring
DB_USER=root
DB_PASSWORD=


JWT_SECRET=VGhhbmsgWW91IEZvciBUaGUgTWVtb3JpZXMg7YOA7Yuw
JWT_AUDIENCE=lgu_ojt_monitoring
JWT_EXPIRE=28800


# Email Configuration - Change This Your Company's Email
MAIL_USER=sample@gmail.com
MAIL_PASS=sampleapppassword
MAIL_FROM=sample@gmail.com
MAIL_NAME="Mandaluyong City Hall"